In [48]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import sklearn as sklearn
import matplotlib.pyplot as plt
price_availability = pd.read_csv('./../data_analyse/DATA/price_availability.csv', delimiter = ';')

In [21]:
price_availability.head(15)

,listing_id,day,created,available,local_currency,local_price,min_nights
0,9810829,2018-12-08,2018-09-27 06:14:10.000+0000,True,EUR,160,1
1,9810829,2018-12-08,2018-09-26 19:34:02.000+0000,True,EUR,160,1
2,20897010,2018-12-09,2018-09-27 10:38:57.000+0000,True,EUR,172,2
3,20897010,2018-12-09,2018-09-27 06:10:27.000+0000,True,EUR,172,2
4,20897010,2018-12-09,2018-09-26 19:30:25.000+0000,True,EUR,172,2
5,20897010,2018-12-09,2018-09-26 15:10:09.000+0000,True,EUR,172,2
6,4290340,2018-09-04,2018-09-27 10:50:42.000+0000,True,EUR,67,15
7,4290340,2018-09-04,2018-09-27 06:06:28.000+0000,True,EUR,67,15
8,4290340,2018-09-04,2018-09-26 19:42:08.000+0000,True,EUR,67,15
9,24574634,2018-09-21,2018-09-27 10:48:47.000+0000,False,EUR,44,5
10,24574634,2018-09-21,2018-09-27 06:10:34.000+0000,False,EUR,44,5
11,24574634,2018-09-21,2018-09-26 19:46:34.000+0000,False,EUR,44,5
12,16788139,2018-09-23,2018-09-27 10:46:12.000+0000,False,EUR,115,3
13,16788139,2018-09-23,2018-09-27 06:07:29.000+0000,False,EUR,115,3
14,16788139,2018-09-23,2018-09-26 19:33:08.000+0000,False,EUR,115,3

In [41]:
listings_final = pd.read_csv('./../data_analyse/DATA/listings_final.csv', delimiter = ';')
listings_final

,Unnamed: 0,listing_id,name,type,city,neighborhood,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,0,28581061,La maison Clery,private_room,Paris,2e arrondissement,48.869292,2.348335,1,1,1,2.0,False,True,True,False,False,1.00,1.00
1,1,661961,studio PARIS PLACE EDITH PIAF 75020,entire_home,Paris,NaN,48.867284,2.403255,2,1,1,1.0,False,False,True,True,False,0.88,0.69
2,2,1261705,chambre privée à louer @ paris oberkampf,private_room,Paris,NaN,48.867894,2.375897,1,1,1,1.0,False,False,True,True,False,1.00,1.00
3,3,1318834,Appartement au coeur du Marais,entire_home,Paris,République,48.870370,2.358510,3,2,2,1.0,False,False,True,False,False,0.82,0.48
4,4,1677091,Lovely & Quiet flat,entire_home,Paris,Buttes-Chaumont - Belleville,48.874149,2.373700,2,1,1,1.0,False,False,True,True,False,0.95,0.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,28335197,Studio cosy Jardin du Luxembourg,entire_home,Paris,Saint Germain des Prés - Odéon,48.848695,2.325857,2,1,0,1.0,False,True,True,False,False,0.79,1.00
996,996,28583013,Charmant 30m2 - Faubourg Saint Martin,entire_home,Paris,République,48.871623,2.358006,3,1,1,1.0,False,True,True,False,False,1.00,1.00
997,997,28628316,Cosy flat in the marais - Best area,entire_home,Paris,2e arrondissement,48.867434,2.351771,4,2,1,1.0,False,True,True,True,False,1.00,1.00
998,998,28792796,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,2.321475,6,4,2,1.5,False,True,True,False,False,1.00,1.00
999,999,28682896,Village Jourdain,private_room,Paris,Buttes-Chaumont - Belleville,48.875425,2.395240,2,1,1,1.0,False,True,True,False,False,1.00,1.00

In [18]:
listings_final.describe()

,Unnamed: 0,listing_id,latitude,longitude,person_capacity,beds,bedrooms,bathrooms,pricing_weekly_factor,pricing_monthly_factor
count,1000.000000,1.000000e+03,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000,1000.000000
mean,499.500000,1.543673e+07,48.864251,2.345147,3.668000,2.056000,1.326000,1.230500,0.942909,0.871658
std,288.819436,9.302042e+06,0.009819,0.031869,2.190108,1.501039,0.998359,0.524304,0.073744,0.162963
min,0.000000,5.609300e+04,48.844372,2.268992,1.000000,0.000000,0.000000,0.000000,0.600000,0.330000
25%,249.750000,6.346503e+06,48.856930,2.326551,2.000000,1.000000,1.000000,1.000000,0.900000,0.750000
50%,499.500000,1.727862e+07,48.864405,2.349139,3.000000,2.000000,1.000000,1.000000,1.000000,1.000000
75%,749.250000,2.378409e+07,48.871875,2.366960,4.000000,3.000000,2.000000,1.000000,1.000000,1.000000
max,999.000000,2.879280e+07,48.882691,2.412700,16.000000,16.000000,6.000000,5.000000,1.000000,1.000000

In [26]:
test = price_availability.groupby(['listing_id']).mean()
test

            available  local_price  min_nights
listing_id
5396         0.011494   102.363985    2.000000
7397         0.168297   110.107632   11.000000
9342         0.309198   396.863014    2.784736
10010        0.254593   136.154856    4.955381
10270        0.511688   105.779221    4.937662
...               ...          ...         ...
28836096     0.082707   321.428571    1.022556
28838519     0.083333    54.483333    5.000000
28840013     0.743083   112.122530    2.000000
28846494     0.225564   168.037594    4.000000
28851976     0.812030   128.000000    2.000000

[11749 rows x 3 columns]

In [32]:
global_data = pd.merge(test, listings_final, on='listing_id')
global_data

,listing_id,available,local_price,min_nights,Unnamed: 0,name,type,city,neighborhood,latitude,...,beds,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor
0,56093,0.000000,170.000000,4.000000,12,Beau duplex dans le Marais,entire_home,Paris,3e arrondissement,48.867284,...,2,1,1.0,False,False,True,True,False,0.88,1.0
1,57207,0.482940,49.952756,2.000000,13,Belle Chambre pour court,private_room,Paris,Vaugirard,48.846184,...,1,1,1.0,False,False,True,False,False,0.87,1.0
2,114543,0.140260,107.374026,3.716883,19,Charming 1bdr 55m² - Eiffel Tower,entire_home,Paris,NaN,48.849530,...,1,1,1.0,False,False,True,True,False,0.90,0.9
3,149534,0.554974,169.000000,3.000000,9,GREAT WARM FULL APT LE HAUT MARAIS,entire_home,Paris,NaN,48.866360,...,2,1,1.0,False,False,True,True,False,1.00,0.4
4,164255,0.100580,75.876209,3.841393,28,Perfect place in Le Marais - Paris,entire_home,Paris,3e arrondissement,48.861398,...,2,1,1.0,False,False,True,False,False,1.00,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,28684174,0.785156,725.175781,1.046875,662,Chambre familiale vue jardin avec petit-déjeun...,private_room,Paris,Ternes,48.879223,...,0,1,1.0,False,True,True,False,False,1.00,1.0
995,28709644,0.954286,475.000000,6.000000,745,LORD BYRON-SPACE& STYLE IN 8TH EME,entire_home,Paris,Champs-Elysées,48.872202,...,2,1,1.0,False,True,True,False,False,1.00,1.0
996,28751412,0.521053,117.000000,1.000000,88,Malesherbes Monceau Monsen,entire_home,Paris,Monceau,48.880923,...,1,0,1.0,False,True,True,False,False,1.00,1.0
997,28774896,0.840506,156.397468,1.000000,159,5 min to invalides and 10 min to eiffel tower,entire_home,Paris,Invalides - Ecole Militaire,48.852915,...,1,1,1.0,False,True,True,False,False,1.00,1.0
998,28792796,0.639098,49.184211,5.000000,998,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,...,4,2,1.5,False,True,True,False,False,1.00,1.0

In [33]:
global_data['by_bed'] = global_data['local_price'] / global_data['beds']
global_data

,listing_id,available,local_price,min_nights,Unnamed: 0,name,type,city,neighborhood,latitude,...,bedrooms,bathrooms,is_rebookable,is_new_listing,is_fully_refundable,is_host_highly_rated,is_business_travel_ready,pricing_weekly_factor,pricing_monthly_factor,by_bed
0,56093,0.000000,170.000000,4.000000,12,Beau duplex dans le Marais,entire_home,Paris,3e arrondissement,48.867284,...,1,1.0,False,False,True,True,False,0.88,1.0,85.000000
1,57207,0.482940,49.952756,2.000000,13,Belle Chambre pour court,private_room,Paris,Vaugirard,48.846184,...,1,1.0,False,False,True,False,False,0.87,1.0,49.952756
2,114543,0.140260,107.374026,3.716883,19,Charming 1bdr 55m² - Eiffel Tower,entire_home,Paris,NaN,48.849530,...,1,1.0,False,False,True,True,False,0.90,0.9,107.374026
3,149534,0.554974,169.000000,3.000000,9,GREAT WARM FULL APT LE HAUT MARAIS,entire_home,Paris,NaN,48.866360,...,1,1.0,False,False,True,True,False,1.00,0.4,84.500000
4,164255,0.100580,75.876209,3.841393,28,Perfect place in Le Marais - Paris,entire_home,Paris,3e arrondissement,48.861398,...,1,1.0,False,False,True,False,False,1.00,1.0,37.938104
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
994,28684174,0.785156,725.175781,1.046875,662,Chambre familiale vue jardin avec petit-déjeun...,private_room,Paris,Ternes,48.879223,...,1,1.0,False,True,True,False,False,1.00,1.0,inf
995,28709644,0.954286,475.000000,6.000000,745,LORD BYRON-SPACE& STYLE IN 8TH EME,entire_home,Paris,Champs-Elysées,48.872202,...,1,1.0,False,True,True,False,False,1.00,1.0,237.500000
996,28751412,0.521053,117.000000,1.000000,88,Malesherbes Monceau Monsen,entire_home,Paris,Monceau,48.880923,...,0,1.0,False,True,True,False,False,1.00,1.0,117.000000
997,28774896,0.840506,156.397468,1.000000,159,5 min to invalides and 10 min to eiffel tower,entire_home,Paris,Invalides - Ecole Militaire,48.852915,...,1,1.0,False,True,True,False,False,1.00,1.0,156.397468
998,28792796,0.639098,49.184211,5.000000,998,Appartement 3 chambres madeleine.,entire_home,Paris,Madeleine - Vendôme,48.870109,...,2,1.5,False,True,True,False,False,1.00,1.0,12.296053

In [58]:
global_data['city'].nunique()

3

In [59]:
X = global_data[['person_capacity','bathrooms', 'bedrooms']]
X.values

array([[4. , 1. , 1. ],
       [2. , 1. , 1. ],
       [2. , 1. , 1. ],
       ...,
       [2. , 1. , 0. ],
       [2. , 1. , 1. ],
       [6. , 1.5, 2. ]])

In [56]:
Y = global_data[['local_price']]
Y.values

     ],
       [ 150.953125  ],
       [ 135.4015544 ],
       [ 108.        ],
       [ 591.40625   ],
       [  79.        ],
       [  25.44473008],
       [  51.72820513],
       [  48.39030612],
       [ 270.        ],
       [ 618.        ],
       [  30.        ],
       [ 395.        ],
       [  94.82597403],
       [ 133.8359375 ],
       [ 169.85714286],
       [ 250.        ],
       [ 108.        ],
       [ 118.19843342],
       [ 250.        ],
       [ 834.96124031],
       [  95.45333333],
       [ 206.14690722],
       [  88.65066667],
       [1072.77486911],
       [ 145.        ],
       [ 160.        ],
       [  63.14397906],
       [ 250.        ],
       [ 538.86010363],
       [ 140.16494845],
       [ 129.38481675],
       [ 144.        ],
       [ 425.        ],
       [  92.        ],
       [  54.        ],
       [ 127.        ],
       [  88.38381201],
       [  69.        ],
       [ 109.        ],
       [  72.        ],
       [  81.63049096],
       [ 148.07179487],
       [ 203.41755319],
       [  57.88653846],
       [ 136.62597403],
       [  69.27447217],
       [  74.10810811],
       [ 152.25773196],
       [  89.        ],
       [ 309.9034749 ],
       [  68.05526316],
       [ 350.08076923],
       [ 417.80392157],
       [ 212.13367609],
       [ 248.7244898 ],
       [  48.        ],
       [  39.        ],
       [ 119.        ],
       [ 350.        ],
       [  62.        ],
       [  96.6056701 ],
       [ 400.39787798],
       [ 176.29377432],
       [ 139.22779923],
       [ 349.79265092],
       [ 232.38921002],
       [  99.        ],
       [ 213.32460733],
       [  39.        ],
       [ 264.83558994],
       [ 159.        ],
       [ 403.08070866],
       [ 174.02849741],
       [ 290.        ],
       [ 296.        ],
       [ 115.        ],
       [  56.34645669],
       [ 239.53125   ],
       [  79.        ],
       [ 180.        ],
       [ 125.        ],
       [ 510.07751938],
       [ 260.94379845],
       [ 118.78473581],
       [ 327.96711799],
       [  29.        ],
       [ 160.        ],
       [ 160.        ],
       [  54.10433071],
       [  50.64107486],
       [  99.        ],
       [ 260.        ],
       [ 300.33419023],
       [  53.50129199],
       [ 195.72890026],
       [ 230.        ],
       [ 334.        ],
       [  44.66149871],
       [  42.        ],
       [ 181.04986877],
       [  88.98966408],
       [ 118.71465296],
       [  79.10344828],
       [  36.        ],
       [ 382.62135922],
       [  70.70103093],
       [  33.4296875 ],
       [  95.484375  ],
       [  42.        ],
       [ 311.54580153],
       [  51.82337662],
       [ 328.57699805],
       [ 105.        ],
       [ 130.13648294],
       [ 250.        ],
       [ 309.68911917],
       [  77.57772021],
       [ 105.        ],
       [ 196.98455598],
       [ 183.0848329 ],
       [ 149.        ],
       [  74.87743191],
       [ 215.9375    ],
       [  29.        ],
       [  52.        ],
       [ 189.12137203],
       [ 152.53299492],
       [  47.84473684],
       [ 718.09278351],
       [ 210.        ],
       [  98.        ],
       [ 148.        ],
       [ 195.        ],
       [ 163.60103627],
       [ 160.64136126],
       [  81.3110687 ],
       [ 415.98802395],
       [ 331.59615385],
       [  58.        ],
       [  33.53050398],
       [  20.        ],
       [ 459.71391076],
       [ 483.32432432],
       [ 297.76315789],
       [ 306.8477842 ],
       [1500.        ],
       [  98.35695538],
       [ 275.        ],
       [ 195.        ],
       [ 114.90421456],
       [ 277.78552972],
       [ 240.        ],
       [ 184.30628272],
       [ 220.        ],
       [ 168.2248062 ],
       [ 326.99232246],
       [  50.        ],
       [ 386.57751938],
       [  60.72307692],
       [  66.85299807],
       [ 115.        ],
       [ 203.89312977],
       [  49.60159363],
       [ 142.        ],
       [  32.86082474],
       [ 180.        ],
       [ 137.21204188],
       [ 520.61895551],
       [  21.        ],
       [ 115.52173913],
       [ 135.        ],
       [ 188.3203125 ],
       [  89.00773196],
       [ 494.36538462],
       [  81.66153846],
       [ 251.88824663],
       [ 238.25918762],
       [  58.        ],
       [  47.59585492],
       [ 240.37764933],
       [ 347.29166667],
       [ 145.        ],
       [  53.        ],
       [ 134.12532637],
       [  78.3685567 ],
       [ 794.54663212],
       [ 447.31538462],
       [  69.        ],
       [ 489.68911917],
       [  89.        ],
       [ 433.37958115],
       [  89.        ],
       [  30.        ],
       [ 255.87548638],
       [  51.52785146],
       [  97.18372703],
       [ 375.0268714 ],
       [  47.80577428],
       [ 278.95287958],
       [ 221.41015625],
       [  70.96899225],
       [  48.        ],
       [ 221.83333333],
       [  62.        ],
       [  75.79895561],
       [ 159.933687  ],
       [ 260.        ],
       [ 340.        ],
       [  84.63852243],
       [ 170.7310705 ],
       [  40.        ],
       [ 149.        ],
       [  86.        ],
       [ 237.48051948],
       [  79.        ],
       [ 161.59689922],
       [ 160.02645503],
       [ 517.99618321],
       [ 142.23958333],
       [ 143.        ],
       [  34.23136247],
       [ 117.38684211],
       [  35.11111111],
       [ 254.41005803],
       [ 156.14038462],
       [ 127.91237113],
       [ 322.24102564],
       [ 391.4452975 ],
       [ 330.        ],
       [ 207.51937984],
       [ 146.43455497],
       [  39.        ],
       [  33.03645833],
       [  81.94473684],
       [ 153.55844156],
       [  96.6953125 ],
       [ 204.9609375 ],
       [  65.86910995],
       [ 109.        ],
       [ 260.        ],
       [ 111.45953003],
       [ 207.43002545],
       [  72.64583333],
       [ 170.        ],
       [  90.21052632],
       [  35.        ],
       [  78.        ],
       [  53.        ],
       [  71.13740458],
       [ 272.8359375 ],
       [ 127.        ],
       [ 139.9562982 ],
       [ 114.16103896],
       [ 231.3125    ],
       [  52.89126214],
       [  40.97911227],
       [1200.        ],
       [  79.97668394],
       [  56.28871391],
       [ 250.05483029],
       [  47.92650919],
       [ 101.12631579],
       [  43.01578947],
       [ 152.56701031],
       [ 179.21336761],
       [  91.        ],
       [ 208.        ],
       [ 281.56657963],
       [ 158.5078534 ],
       [ 104.78947368],
       [  79.81038961],
       [ 175.        ],
       [  37.        ],
       [  90.36315789],
       [ 170.        ],
       [ 175.        ],
       [ 177.52645503],
       [ 160.        ],
       [ 118.74160207],
       [ 180.        ],
       [  94.74472169],
       [  40.        ],
       [ 234.14038462],
       [ 195.        ],
       [  62.17525773],
       [  62.        ],
       [1200.        ],
       [  43.14368932],
       [  68.54947917],
       [ 239.96303502],
       [1000.        ],
       [ 155.12073491],
       [ 409.54887218],
       [ 170.        ],
       [  73.07731959],
       [ 207.69487179],
       [  58.72386059],
       [ 700.        ],
       [  38.51171875],
       [ 124.7591623 ],
       [ 249.06493506],
       [  45.66666667],
       [  93.18393782],
       [ 230.72944297],
       [ 168.52331606],
       [ 195.        ],
       [ 104.70680628],
       [  90.264     ],
       [  72.39793282],
       [  54.66404199],
       [  79.07272727],
       [ 220.        ],
       [ 158.        ],
       [  41.11340206],
       [  47.        ],
       [  51.69350649],
       [  79.84126984],
       [  60.61757106],
       [  66.06788512],
       [ 683.94584139],
       [ 456.55769231],
       [  47.        ],
       [  86.13246753],
       [ 296.8814433 ],
       [ 137.89817232],
       [ 165.56842105],
       [  72.05384615],
       [  40.06753247],
       [ 113.58333333],
       [ 219.08349515],
       [ 270.63254593],
       [  42.10471204],
       [ 219.43603133],
       [  59.16020672],
       [  54.93175853],
       [  60.64893617],
       [ 180.        ],
       [  59.        ],
       [ 192.63020833],
       [ 240.        ],
       [ 177.4151436 ],
       [ 116.09947644],
       [ 355.52083333],
       [ 353.        ],
       [  73.25265957],
       [ 156.6171875 ],
       [  40.61578947],
       [  82.23643411],
       [  30.        ],
       [ 434.9132948 ],
       [  40.        ],
       [ 118.        ],
       [  65.675     ],
       [ 204.39276486],
       [  41.69712794],
       [  59.        ],
       [ 161.5503876 ],
       [ 474.14258189],
       [  57.        ],
       [ 409.        ],
       [  62.13533835],
       [ 130.        ],
       [ 168.91395793],
       [  79.        ],
       [ 307.01547389],
       [ 529.33418367],
       [  60.6873385 ],
       [ 135.85677083],
       [ 170.        ],
       [ 900.        ],
       [ 261.86046512],
       [ 160.        ],
       [  85.78608247],
       [  47.84031414],
       [  68.55844156],
       [ 350.88565891],
       [ 176.37075718],
       [  32.06266319],
       [ 108.49226804],
       [  17.9766537 ],
       [  17.86372361],
       [ 160.        ],
       [ 140.50895141],
       [ 871.3657289 ],
       [ 249.15028902],
       [  39.92307692],
       [ 850.65633075],
       [ 470.89267016],
       [ 158.84473684],
       [1157.74278215],
       [ 346.41343669],
       [  42.        ],
       [ 290.        ],
       [ 123.63829787],
       [ 102.38157895],
       [ 190.        ],
       [ 198.22680412],
       [ 108.56185567],
       [ 102.        ],
       [  40.        ],
       [ 230.01574803],
       [ 125.26109661],
       [ 306.13577023],
       [ 107.47409326],
       [ 146.57519789],
       [ 222.8042328 ],
       [ 186.17829457],
       [ 157.        ],
       [  30.        ],
       [  63.        ],
       [  42.        ],
       [  28.31937173],
       [ 600.        ],
       [ 129.17493473],
       [  89.        ],
       [  86.77922078],
       [ 126.30569948],
       [ 269.53846154],
       [  40.        ],
       [  51.01595745],
       [ 197.65815324],
       [ 196.58684211],
       [ 153.3203125 ],
       [ 119.34816754],
       [ 145.90322581],
       [  35.40932642],
       [ 525.        ],
       [ 300.        ],
       [  52.        ],
       [ 126.32198953],
       [ 505.61793372],
       [  71.01804124],
       [  70.43410853],
       [ 374.62273902],
       [ 139.17105263],
       [  40.10416667],
       [ 145.16966581],
       [ 170.        ],
       [ 450.        ],
       [ 400.        ],
       [  52.74293059],
       [  93.70234987],
       [ 195.        ],
       [ 137.        ],
       [ 263.125     ],
       [  96.        ],
       [ 192.57251908],
       [  52.        ],
       [  80.984375  ],
       [ 294.18181818],
       [ 158.91906005],
       [ 121.50259067],
       [ 117.        ],
       [ 690.99415205],
       [ 139.95844156],
       [ 150.61538462],
       [  59.        ],
       [  57.59689922],
       [ 350.        ],
       [  93.35248042],
       [ 165.        ],
       [ 304.84536082],
       [ 291.86387435],
       [  37.21818182],
       [ 109.421875  ],
       [ 152.67792208],
       [ 128.09043928],
       [  61.        ],
       [ 242.21052632],
       [ 114.95833333],
       [ 345.24806202],
       [  78.54736842],
       [ 226.49222798],
       [ 410.        ],
       [ 119.06349206],
       [  79.        ],
       [  57.88947368],
       [ 164.52196382],
       [  70.30989583],
       [ 122.30490956],
       [ 170.57989691],
       [  68.58461538],
       [ 202.27154047],
       [ 252.3126615 ],
       [ 153.63116883],
       [ 135.        ],
       [ 184.40789474],
       [  72.        ],
       [  59.57948718],
       [ 611.65803109],
       [ 156.19693095],
       [ 164.845953  ],
       [  88.        ],
       [ 169.77083333],
       [  78.        ],
       [ 226.60051546],
       [ 226.89210526],
       [ 144.54025974],
       [ 140.9132948 ],
       [ 210.35917313],
       [ 126.62239583],
       [  92.02337662],
       [  68.17708333],
       [  99.02597403],
       [ 992.72164948],
       [ 517.0984456 ],
       [1000.        ],
       [  85.40682415],
       [ 250.        ],
       [ 216.46421663],
       [ 199.90503876],
       [ 151.39790576],
       [ 250.19379845],
       [ 274.10485437],
       [  74.23320158],
       [ 197.38085938],
       [ 250.01298701],
       [ 161.33159269],
       [  60.05263158],
       [ 297.60309278],
       [  89.43307087],
       [  78.33595801],
       [  93.46475196],
       [  42.61658031],
       [ 190.        ],
       [ 111.86458333],
       [ 358.12121212],
       [  66.67560322],
       [ 148.76804124],
       [ 241.3003876 ],
       [ 330.46875   ],
       [ 177.        ],
       [ 146.98963731],
       [  49.96344648],
       [ 170.30548303],
       [ 596.9785575 ],
       [ 138.90721649],
       [ 399.47683398],
       [ 115.        ],
       [ 300.        ],
       [ 133.94270833],
       [ 134.20424403],
       [ 500.        ],
       [ 300.        ],
       [ 145.        ],
       [  78.01558442],
       [ 490.61662198],
       [  68.09549072],
       [ 190.        ],
       [  76.98153034],
       [ 156.24031008],
       [ 133.09230769],
       [ 131.        ],
       [ 160.        ],
       [ 195.        ],
       [ 182.21875   ],
       [ 106.71428571],
       [ 297.        ],
       [  82.5883905 ],
       [ 338.85934489],
       [ 220.        ],
       [ 690.        ],
       [ 298.36675462],
       [ 240.99197861],
       [ 120.32122371],
       [  35.        ],
       [ 145.70103093],
       [  83.34563107],
       [ 123.        ],
       [ 197.45914397],
       [ 670.        ],
       [  86.80687831],
       [  91.41798942],
       [ 154.97927461],
       [  55.34933333],
       [ 233.37452471],
       [ 211.66226913],
       [ 158.8       ],
       [  87.10416667],
       [ 317.72845953],
       [ 119.28759894],
       [ 323.48429319],
       [  94.67783505],
       [ 289.85796545],
       [ 122.58461538],
       [ 160.43766578],
       [  33.        ],
       [ 302.        ],
       [ 127.89405685],
       [ 140.38381201],
       [ 237.26041667],
       [  35.        ],
       [ 962.54025974],
       [ 111.81443299],
       [ 183.01151631],
       [ 256.84334204],
       [ 207.55363985],
       [  24.        ],
       [  65.48484848],
       [  39.14750958],
       [  35.45436893],
       [ 999.        ],
       [  26.        ],
       [ 163.08505155],
       [ 199.04483431],
       [  29.        ],
       [  52.16410256],
       [ 184.31168831],
       [ 135.11227154],
       [ 153.25      ],
       [ 989.76377953],
       [  40.06701031],
       [ 806.90909091],
       [  25.        ],
       [ 125.        ],
       [ 180.        ],
       [ 517.71235521],
       [  69.        ],
       [  59.53439153],
       [ 170.        ],
       [ 527.13867188],
       [ 186.02906977],
       [ 204.6342711 ],
       [ 240.32882012],
       [ 255.74904215],
       [ 250.72093023],
       [  65.74418605],
       [1300.        ],
       [ 119.        ],
       [ 108.95026178],
       [ 357.7046332 ],
       [ 102.31151832],
       [ 931.65535248],
       [  50.50642674],
       [ 180.        ],
       [ 176.86125654],
       [ 215.        ],
       [ 203.21025641],
       [ 210.02362205],
       [  41.        ],
       [  96.11168831],
       [  58.13020833],
       [ 197.68766404],
       [  73.78249337],
       [ 250.        ],
       [ 390.16184971],
       [  78.07915567],
       [ 170.        ],
       [ 421.97260274],
       [ 109.71611253],
       [ 209.62992126],
       [ 229.35384615],
       [ 500.30051813],
       [ 188.57253886],
       [ 210.        ],
       [ 133.61734694],
       [ 165.46858639],
       [ 181.24870466],
       [ 340.81007752],
       [ 617.13541667],
       [ 161.83116883],
       [ 450.        ],
       [  47.66925065],
       [  92.57631579],
       [ 219.5037594 ],
       [  71.46753247],
       [ 267.9843342 ],
       [ 113.53383459],
       [  75.37105263],
       [ 433.40535373],
       [ 204.95064935],
       [ 212.07179487],
       [1780.59067358],
       [  69.90673575],
       [ 124.16103896],
       [ 254.5052356 ],
       [  84.        ],
       [ 103.56103896],
       [  49.        ],
       [ 161.30366492],
       [  88.0156658 ],
       [ 150.26098191],
       [  25.        ],
       [ 219.50131926],
       [  68.08247423],
       [ 148.08051948],
       [  61.62105263],
       [ 270.30848329],
       [ 191.13520408],
       [  82.90526316],
       [ 288.68421053],
       [  42.21502591],
       [  46.87012987],
       [ 110.57936508],
       [ 115.        ],
       [ 400.        ],
       [ 240.00512821],
       [  62.        ],
       [ 175.        ],
       [ 715.        ],
       [ 350.        ],
       [ 834.61121857],
       [  90.52429668],
       [ 650.87596899],
       [  99.45801527],
       [  63.38219895],
       [ 121.46456693],
       [  25.        ],
       [  54.14092141],
       [  79.        ],
       [  93.57142857],
       [  74.43410853],
       [ 314.        ],
       [ 103.8247012 ],
       [ 360.        ],
       [ 224.23684211],
       [ 650.        ],
       [ 311.62934363],
       [  81.81151832],
       [ 160.        ],
       [  83.        ],
       [ 182.30769231],
       [ 237.90052356],
       [ 184.52538071],
       [ 425.12256809],
       [ 253.96850394],
       [  32.71948052],
       [ 145.07731959],
       [ 230.        ],
       [  28.4947644 ],
       [  78.21671018],
       [ 600.        ],
       [ 329.36832061],
       [ 170.00793651],
       [ 104.        ],
       [ 299.        ],
       [  67.90526316],
       [  30.08488064],
       [  49.        ],
       [ 316.4609375 ],
       [ 179.54263566],
       [ 381.96564885],
       [  42.40519481],
       [  99.91076115],
       [ 196.58854167],
       [  30.        ],
       [  30.3       ],
       [  40.46391753],
       [  99.        ],
       [ 143.51181102],
       [ 257.89556136],
       [  89.60789474],
       [ 151.07915567],
       [  36.51937984],
       [ 176.6824147 ],
       [  99.        ],
       [  68.35142119],
       [  36.72093023],
       [ 117.22572178],
       [  40.01542416],
       [  62.94010417],
       [ 114.75773196],
       [ 144.42159383],
       [  59.        ],
       [  45.18489583],
       [ 139.50793651],
       [ 143.94973545],
       [  82.67101828],
       [  60.02610966],
       [ 221.99738903],
       [  40.0025641 ],
       [ 124.45052083],
       [ 470.17408124],
       [ 650.        ],
       [  81.80851064],
       [  53.53002611],
       [  57.154047  ],
       [ 429.28645833],
       [ 395.05769231],
       [ 119.63239075],
       [  70.40310078],
       [ 170.        ],
       [ 242.98457584],
       [  44.86082474],
       [ 251.04639175],
       [ 321.00795756],
       [  42.1443299 ],
       [ 259.2578125 ],
       [ 241.58653846],
       [ 173.01587302],
       [ 248.91752577],
       [  92.76963351],
       [  88.38947368],
       [ 350.        ],
       [  35.03116883],
       [ 109.97643979],
       [ 154.7881137 ],
       [ 109.96240602],
       [ 119.02631579],
       [ 296.3624031 ],
       [ 427.50096712],
       [ 520.12621359],
       [ 123.12010444],
       [  39.23342175],
       [  49.23697917],
       [ 362.02935421],
       [ 168.31675393],
       [ 240.        ],
       [ 183.68085106],
       [ 160.22691293],
       [  64.25906736],
       [ 198.79533679],
       [ 182.44415584],
       [ 248.84971098],
       [  38.50773196],
       [ 225.82585752],
       [  40.11488251],
       [ 238.98416887],
       [ 420.46456693],
       [ 450.        ],
       [  45.94845361],
       [  40.69309463],
       [ 147.75255102],
       [  55.96938776],
       [ 152.86082474],
       [ 650.        ],
       [  39.50393701],
       [ 115.        ],
       [ 725.17578125],
       [ 475.        ],
       [ 117.        ],
       [ 156.39746835],
       [  49.18421053]])

In [61]:
from sklearn.model_selection import train_test_split
#X, Y = train_test_split(new_frame, test_size=300, train_size=699, random_state=42, shuffle=True, stratify=None)
X_train, X_test, y_train, y_test = train_test_split( X, Y, test_size=0.3, random_state=42)

In [64]:
X_train.shape

(699, 3)

In [66]:
y_train.shape

(699, 1)

In [73]:
from sklearn import linear_model

In [75]:
regr = linear_model.LinearRegression().fit(X_train, y_train)
regr

LinearRegression()

In [76]:
print('Coefficients beta_j : \n', regr.coef_)
print('Coefficients INTERCEPT beta_0 : \n', regr.intercept_)

Coefficients beta_j :
 [[29.22157692 86.34152526 14.61898054]]
Coefficients INTERCEPT beta_0 :
 [-46.48417235]

prix = (29 X capacity + 86 X nb salles bains + 14 X nb chambres) + -46

In [87]:
from sklearn.metrics import r2_score, mean_squared_error

In [78]:
reg_nnls = LinearRegression(positive=True)
y_pred_nnls = reg_nnls.fit(X_train, y_train).predict(X_test)
r2_score_nnls = r2_score(y_test, y_pred_nnls)
print("NNLS R2 score", r2_score_nnls)

NNLS R2 score 0.3772870887592449

In [84]:
y_pred = regr.predict(X_train)
len(y_pred)

699

In [89]:
mean_quare_err = mean_squared_error(y_train, y_pred)
mean_quare_err

21646.085553255107