In [1]:
import pandas as pd 
import numpy as np 
import seaborn as sns
import sklearn as sklearn
import matplotlib.pyplot as plt

In [8]:
l1_ang = pd.read_csv('./data/E0.csv')
l1_all = pd.read_csv('./data/d1.csv')
l1_fra = pd.read_csv('./data/F1.csv')
l1_esp = pd.read_csv('./data/S1.csv')

In [3]:
l1_ang

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,09/08/2019,20:00,Liverpool,Norwich,4,1,H,4,0,...,3.43,-2.25,1.91,1.99,1.94,1.98,1.99,2.07,1.90,1.99
1,E0,10/08/2019,12:30,West Ham,Man City,0,5,A,0,1,...,2.91,1.75,1.95,1.95,1.96,1.97,2.07,1.98,1.97,1.92
2,E0,10/08/2019,15:00,Bournemouth,Sheffield United,1,1,D,0,0,...,1.92,-0.50,1.95,1.95,1.98,1.95,2.00,1.96,1.96,1.92
3,E0,10/08/2019,15:00,Burnley,Southampton,3,0,H,0,0,...,1.71,0.00,1.87,2.03,1.89,2.03,1.90,2.07,1.86,2.02
4,E0,10/08/2019,15:00,Crystal Palace,Everton,0,0,D,0,0,...,1.71,0.25,1.82,2.08,1.97,1.96,2.03,2.08,1.96,1.93
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,26/07/2020,16:00,Leicester,Man United,0,2,A,0,0,...,2.03,0.50,1.89,2.01,1.88,2.05,1.94,2.05,1.86,2.02
376,E0,26/07/2020,16:00,Man City,Norwich,5,0,H,2,0,...,5.77,-3.75,2.03,1.87,2.01,1.88,2.06,1.88,2.02,1.84
377,E0,26/07/2020,16:00,Newcastle,Liverpool,1,3,A,1,1,...,2.40,1.00,1.94,1.96,1.95,1.97,2.03,2.00,1.95,1.92
378,E0,26/07/2020,16:00,Southampton,Sheffield United,3,1,H,0,1,...,2.01,-0.50,1.97,1.93,2.00,1.93,2.03,1.96,1.98,1.89
379,E0,26/07/2020,16:00,West Ham,Aston Villa,1,1,D,0,0,...,2.03,0.00,1.93,1.97,1.95,1.98,1.99,2.00,1.93,1.95

In [5]:
l1_all

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,D1,16/08/2019,19:30,Bayern Munich,Hertha,2,2,D,1,2,...,3.40,-2.25,2.03,1.90,1.99,1.93,2.04,1.93,1.98,1.91
1,D1,17/08/2019,14:30,Dortmund,Augsburg,5,1,H,1,1,...,3.31,-2.25,1.92,2.01,1.92,2.00,1.98,2.04,1.91,1.97
2,D1,17/08/2019,14:30,Freiburg,Mainz,3,0,H,0,0,...,1.89,0.00,1.92,2.01,1.94,1.97,1.97,2.06,1.90,1.99
3,D1,17/08/2019,14:30,Leverkusen,Paderborn,3,2,H,2,2,...,3.58,-2.00,2.07,1.86,2.05,1.86,2.15,1.91,2.03,1.85
4,D1,17/08/2019,14:30,Werder Bremen,Fortuna Dusseldorf,1,3,A,0,1,...,2.26,-0.75,1.92,2.01,1.92,2.00,1.95,2.11,1.89,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
301,D1,27/06/2020,14:30,Leverkusen,Mainz,1,0,H,1,0,...,3.50,-1.50,2.05,1.88,2.04,1.88,2.09,1.97,1.99,1.89
302,D1,27/06/2020,14:30,M'gladbach,Hertha,2,1,H,1,0,...,2.68,-1.25,1.97,1.96,1.95,1.96,2.00,2.05,1.93,1.95
303,D1,27/06/2020,14:30,Union Berlin,Fortuna Dusseldorf,3,0,H,1,0,...,1.86,0.50,1.75,2.05,1.81,2.13,1.84,2.15,1.80,2.07
304,D1,27/06/2020,14:30,Werder Bremen,FC Koln,6,1,H,3,0,...,2.99,-1.00,1.90,2.03,1.93,1.98,1.97,2.05,1.89,1.98
305,D1,27/06/2020,14:30,Wolfsburg,Bayern Munich,0,4,A,0,2,...,3.57,1.00,1.99,1.94,1.98,1.93,2.04,1.98,1.97,1.90

In [7]:
l1_fra

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,F1,09/08/2019,19:45,Monaco,Lyon,0,3,A,0,2,...,"2,01","0,25","2,04","1,86","2,01","1,9","2,06","2,01","2,01","1,87"
1,F1,10/08/2019,16:30,Marseille,Reims,0,2,A,0,0,...,"1,75","-0,75","2,02","1,88","2,05","1,87","2,06","1,97","1,98","1,89"
2,F1,10/08/2019,19:00,Angers,Bordeaux,3,1,H,3,1,...,"1,49","-0,25","1,75","2,05","1,79","2,15","1,8","2,17","1,77","2,11"
3,F1,10/08/2019,19:00,Brest,Toulouse,1,1,D,1,0,...,"1,77","-0,5","2,1","1,8","2,1","1,83","2,12","1,83","2,08","1,79"
4,F1,10/08/2019,19:00,Dijon,St Etienne,1,2,A,1,2,...,"1,79","0,25","2,07","1,72","2,14","1,79","2,16","1,82","2,09","1,79"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,F1,07/03/2020,19:00,Nice,Monaco,2,1,H,0,1,...,"2,38","0,25","2,06","1,87","2,07","1,85","2,09","1,9","2,01","1,84"
275,F1,07/03/2020,19:00,Reims,Brest,1,0,H,1,0,...,"1,54","-0,5","2,01","1,92","2,02","1,89","2,05","1,93","1,99","1,86"
276,F1,08/03/2020,14:00,St Etienne,Bordeaux,1,1,D,0,0,...,"1,61","-0,25","2,03","1,9",2,"1,92","2,07","1,98","1,94","1,91"
277,F1,08/03/2020,16:00,Rennes,Montpellier,5,0,H,2,0,...,"1,6","-0,25","1,97","1,96","1,97","1,95",2,2,"1,94","1,91"
278,F1,08/03/2020,20:00,Lille,Lyon,1,0,H,1,0,...,"1,7","-0,25","1,89","2,04","1,89","2,02","1,97","2,06","1,87","1,98"

In [9]:
l1_esp

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,SP1,16/08/2019,20:00,Ath Bilbao,Barcelona,1,0,H,0,0,...,"1,97","0,75","1,93",2,"1,91","2,01","2,02","2,03","1,91","1,98"
1,SP1,17/08/2019,16:00,Celta,Real Madrid,1,3,A,0,1,...,"2,63",1,"1,82","1,97","1,85","2,07",2,"2,2","1,82","2,06"
2,SP1,17/08/2019,18:00,Valencia,Sociedad,1,1,D,0,0,...,"1,82","-0,75","1,94","1,99","1,92",2,"1,96","2,12","1,89",2
3,SP1,17/08/2019,19:00,Mallorca,Eibar,2,1,H,1,0,...,"1,66",0,"2,11","1,82","2,09","1,83","2,12","1,88","2,07","1,83"
4,SP1,17/08/2019,20:00,Leganes,Osasuna,0,1,A,0,0,...,"1,46","-0,5","1,89","2,04","1,9","2,01","1,95","2,06","1,9","1,99"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
325,SP1,01/07/2020,21:00,Betis,Villarreal,0,2,A,0,2,...,"2,15","0,25","1,72","2,07","1,79","2,15","1,83","2,16","1,78","2,1"
326,SP1,01/07/2020,21:00,Valladolid,Levante,0,0,D,0,0,...,"1,8","-0,25","2,06","1,87","2,06","1,86","2,09","1,92","2,01","1,87"
327,SP1,02/07/2020,18:30,Eibar,Osasuna,0,2,A,0,1,...,"1,65","-0,25","2,02","1,91","2,05","1,87","2,06","1,92",2,"1,88"
328,SP1,02/07/2020,18:30,Sociedad,Espanol,2,1,H,0,1,...,"1,7","-0,75","2,11","1,82","2,12","1,81","2,14","1,85","2,08","1,81"
329,SP1,02/07/2020,21:00,Real Madrid,Getafe,1,0,H,0,0,...,"1,74",-1,"1,89","2,04","1,88","2,04","1,94","2,13","1,85","2,03"

In [11]:
globale_data = pd.concat([l1_all, l1_ang,l1_esp, l1_fra])

In [12]:
globale_data

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA,Referee
0,D1,16/08/2019,19:30,Bayern Munich,Hertha,2,2,D,1,2,...,-2.25,2.03,1.90,1.99,1.93,2.04,1.93,1.98,1.91,NaN
1,D1,17/08/2019,14:30,Dortmund,Augsburg,5,1,H,1,1,...,-2.25,1.92,2.01,1.92,2.00,1.98,2.04,1.91,1.97,NaN
2,D1,17/08/2019,14:30,Freiburg,Mainz,3,0,H,0,0,...,0.00,1.92,2.01,1.94,1.97,1.97,2.06,1.90,1.99,NaN
3,D1,17/08/2019,14:30,Leverkusen,Paderborn,3,2,H,2,2,...,-2.00,2.07,1.86,2.05,1.86,2.15,1.91,2.03,1.85,NaN
4,D1,17/08/2019,14:30,Werder Bremen,Fortuna Dusseldorf,1,3,A,0,1,...,-0.75,1.92,2.01,1.92,2.00,1.95,2.11,1.89,2.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
274,F1,07/03/2020,19:00,Nice,Monaco,2,1,H,0,1,...,"0,25","2,06","1,87","2,07","1,85","2,09","1,9","2,01","1,84",NaN
275,F1,07/03/2020,19:00,Reims,Brest,1,0,H,1,0,...,"-0,5","2,01","1,92","2,02","1,89","2,05","1,93","1,99","1,86",NaN
276,F1,08/03/2020,14:00,St Etienne,Bordeaux,1,1,D,0,0,...,"-0,25","2,03","1,9",2,"1,92","2,07","1,98","1,94","1,91",NaN
277,F1,08/03/2020,16:00,Rennes,Montpellier,5,0,H,2,0,...,"-0,25","1,97","1,96","1,97","1,95",2,2,"1,94","1,91",NaN
278,F1,08/03/2020,20:00,Lille,Lyon,1,0,H,1,0,...,"-0,25","1,89","2,04","1,89","2,02","1,97","2,06","1,87","1,98",NaN